ul {
    list-style-type: none;
    margin: 0 ;
    padding: 0px;
    overflow: hidden;
    
}

li {
    float: left;
    text-decoration: underline;
    border-bottom-style: solid;
    margin-left: 5px;
}





